@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: linear-gradient(to top, #202020, #686869, #99988e, #f4ee59);
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    
}

section#telefone {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 680px;
    background-color: #202020;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); 
}

.verticalname1 {
    font-size: 200px;
    padding: -10px;
    font-family: Electroharmonix;
    color: #202020;
    writing-mode: vertical-rl;
    letter-spacing: -90px;
    text-orientation: upright;
    position: fixed;
    top: 68%;
    right: calc(100% + -75px);
    transform: translate(-50%, -50%);
}

.verticalname2 {
    font-size: 200px;
    padding: -10px;
    font-family: Electroharmonix;
    color: #202020;
    writing-mode: vertical-rl;
    letter-spacing: -90px;
    text-orientation: upright;
    position: fixed;
    top: 6%;
    left: calc(100% + 172px);
    transform: translate(-50%, -50%);
}

.vertical-line {
    border-left: 23px solid #202020;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 452px;
    position: fixed;
    top: 50%;
    left: calc(100% + 162px);
   
}

.vertical-line > img {
    position: fixed;
    width: 100px;
    bottom: 250px;
    left: 483px;
    border-radius: 50%;
    
   
}

.vertical-line2 {
    border-left: 25px solid #202020;
    height: 350px;
    position: fixed;
    top: -120px;
    right: calc(100% + 153px);
   
}

@media screen and (max-width: 950px) ,(max-height: 900px) {
    .verticalname1, .verticalname2, .vertical-line, .vertical-line2 {
        display: none;
    }
}

section#redes-sociais {
    display: block;
    position: absolute;
    top: 6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#redes-sociais img {
    width: 65px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid #686869;
    transform: translate(-2px, -2px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s;
}

@media screen and (max-height: 900px) {
    section#redes-sociais {
        position: fixed;
        top: 90px;
        left: 900px;
        transform: none;
    }

    section#redes-sociais a {
        display: block;
        margin: 5px 0;
    }
}